
/* 
source for wrapper: https://css-tricks.com/best-way-implement-wrapper-css/ 
source for pallette: https://coolors.co/image-picker
*/
.wrapper{
    max-width: 80%;
    padding-right: 20px;
    padding-left: 20px;
    background-color:hsla(178, 50%, 91%, .8);
    margin-right: auto;
    margin-left: auto;
    margin-top: none;
}



/*navigation  refresher found: https://www.w3schools.com/Css/css_navbar_horizontal.asp*/
nav{
    position: center;
}
/* added x-index 10 so nav will always be on top */
nav ul{
    list-style-type: none;
    margin: 0;
    margin-left: -20px;
    padding: 0;
    overflow: hidden;
    background-color: hsla(160, 30%, 44%, 1);
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 700px;
    box-sizing: border-box;
    z-index: 10;
}

nav li{
    float: left;
    font-size: 20px;
    /*border-right: 1px solid #bbb; */
}

nav li a{
    display: block;
    color: hsla(178, 50%, 91%, 1);
    text-shadow: 1px 1px 3px hsla(42, 50%, 46%, 1);
    text-align: center;
    padding: 14px 16px;
}

/*change link on hover */
nav li a:hover{
    background-color: #111;
    text-shadow: 1px 1px 3px hsla(25, 32%, 39%, 1);
}

/* found imgs https://wallpaperaccess.com/teal-marble 
    AI free photo enhance https://www.upscale.media
*/
body{ 
   background-image: url(img/2b.jpeg);
   background-repeat: no-repeat;
   background-size: cover ;
   color:hsla(25, 50%, 27%, 1);
   text-decoration: none;
   font-family:Georgia, 'Times New Roman', Times, serif;
   padding-left: 5%;
   margin-bottom: 5%;
   min-width: 820px;
   background-color: hsla(178, 50%, 61%, .8);
   font-size: 1.2em;
}

@font-face {
  font-family: "handwriting";
  src:
    url("fonts/alex-brush/AlexBrush-Regular.ttf")  format("ttf");
  font-weight: normal;
  font-style: normal;
}

body h1{
    color:hsla(42, 50%, 55%, 1);
    text-transform:uppercase;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 6px gold ;
    font-family:"handwriting", serif;
    padding-top:1.6em;
}

#about{
    position:relative;
    top: 40px;
}

body h2{
    color:hsla(160, 30%, 44%, 1);
    font-size: 36px;
    padding-bottom: 10px;
    border-bottom: 1px solid hsla(42, 50%, 55%, 1);
    padding-top: 70px; /* replaced the 2 brs before each h2 - anchor links */
}

a {
    text-decoration: none;
    font-weight: 600;
    color:#111;
    text-shadow: 2px 2px 5px hsla(42, 50%, 50%, 1);
}

a:hover{
    color:hsla(42, 50%, 55%, 1);
    text-shadow: 2px 2px 7px hsla(25, 32%, 39%, 1);
}

/* about specific */

/* reference for box shadow https://www.w3schools.com/css/css3_shadows_box.asp */
#imgabout{
    width: 300px;
    float: right;
    border-radius: 50%;
    border: hsla(160, 30%, 44%, 1) 1px solid;
    box-shadow: 0 4px 8px 0 hsla(42, 50%, 50%, 1), 0 4px 20px 0 hsla(42, 50%, 50%, 1);
    margin-bottom: 14px;
}

.about ul{
    font-weight: 700;
    list-style-type: none;    
}

/* frustrated with the denseness of bullet lists found solution at https://www.sitepoint.com/community/t/best-practices-for-list-spacing-both-ul-ol/6273 */
ul li, ol li {
     line-height:160%; /*or whatever height you like*/
}

/* divides edu into boxes
    -added flex display
    -wrap
    -min-width on boxes
*/
.edu{
    display: flex;
    min-width: 300px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    list-style: url(img/scrollSmall.png);
}
/* icon from Illustration by <a href="https://unsplash.com/@roundicons?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Round Icons</a> on <a href="https://unsplash.com/illustrations/a-black-and-white-image-of-a-person-running-4rqUcSqpSus?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
       */
.work{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 30px;
    list-style: url(img/walkSmall.png);
}

.work h3{
    border-bottom: 1px hsla(160, 30%, 44%, 1) solid;
}

/* edu and work divs */
.box{
    border: 3px hsla(160, 30%, 30%, 1) groove;
    box-shadow:3px 3px 3px hsla(178, 50%, 61%, .8);
    width: 400px;
    margin: 5px 0;
    padding: 5px;
    margin-bottom: 15px;
    color: hsla(25, 50%, 27%, 1);
}

h3{
    margin-top: 2px;
}

h4{
    color: hsla(25, 32%, 39%, 1);
    padding-left: 10px;
    margin-top: -10px;
    border-bottom: 1px hsla(160, 30%, 44%, 1) solid;
}

/* table referenced https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Tables*/
table{
    table-layout: fixed;
    width: 80%;
    min-width: fit-content;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}

table caption{
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 3px hsla(35, 100%, 92%, 1);
    color: hsla(42, 50%, 46%, 1);
}

th, td{
    padding: 0.6em;
    border-bottom: 1px solid hsla(42, 50%, 46%, 1);
}

article{
    padding-left: 10%;
    padding-bottom: 10%;
}

/* projects */
.tn{
    width: 50%;
    height: 40%;
}

section {
    margin: 50px 0;
}




input {
    background-color: hsla(178, 50%, 91%, 1);    
    color: hsla(25, 50%, 27%, 1);
    border: hsla(160, 30%, 44%, 1) 2px solid;
    border-radius: 4px;
}


textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid hsla(160, 30%, 44%, 1);
    border-radius: 4px;
    background-color: hsla(178, 50%, 91%, 1);
    color: hsla(25, 50%, 27%, 1);
    resize: none;
}

select {
    border: 2px solid hsla(160, 30%, 44%, 1);
    border-radius: 4px;
    background-color: hsla(178, 50%, 91%, 1);
    color: hsla(25, 50%, 27%, 1);
}

input[type=radio]{
    padding: 4px;
}

.respond{
    padding-bottom: 20px;
}

button{
    font-family: inherit;
    font-size: 100%;
    color: hsla(178, 50%, 91%, 1);
    background-color: hsla(160, 30%, 30%, 1) ;
    border: hsla(160, 30%, 44%, 1) 6px;
    border-style:ridge ;
    border-radius: 4px;
    margin: 14px;
}


input:focus, select:focus, textarea:focus, button:focus{
    outline: hsla(160, 30%, 44%, 1) 2px solid;
    box-shadow: 0 2px 8px 0 hsla(42, 50%, 50%, 1), 0 2px 20px 0 hsla(42, 50%, 50%, 1);
}

footer{
    background-color: hsla(160, 30%, 44%, 1);
    color:hsla(178, 50%, 91%, 1);
    text-align: center;
    margin: -20px;
    padding: 5px 5px 10px 5px;
}

