body{
    background-image: url(/img/2c.jpg);
    text-align: center;
    color: rgb(41, 135, 151);
    text-shadow: 1px 1px 0 white;  
    display: grid;
    place-items: center;
    height: 100vh;
}

h1{
    color: rosybrown;
    margin-bottom: .2em;
}

.info div{
   line-height: .2em; 
   margin-top: .2em;
}

/* button{
    position: relative;
    top: -42px;
    left: 100px;
} */



.grid{
    border: 1px black solid;
    height: 540px;
    width: 540px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.grid div{
    height:60px;
    width:60px;
}

/* .grid div{
    background-color: rgba(76, 224, 76, 0.284);
} */

.grid .ending-block{
    background-image: url(img/lilypad1.png);
    background-repeat: no-repeat;
    background-size: cover ;

}

.grid .starting-block{
    border:1px solid rgba(35, 35, 140, 0.647);
    background-color: rgba(35, 35, 140, 0.322);
}

.grid .l1 {
    background-image: url(img/log1.png);
    background-repeat: no-repeat;
    background-size: cover ;
}

.grid .l2 {
    background-image: url(img/log2.png);
    background-repeat: no-repeat;
    background-size: cover ;
}

.grid .l3 {
    background-image: url(img/log3.png);
    background-repeat: no-repeat;
    background-size: cover ;
}

.grid .l4, .l5{
    background-color: #acd1dd;
}

.grid .lr1 {
    background-image: url(img/log3b.png);
    background-repeat: no-repeat;
    background-size: cover ;
}

.grid .lr2 {
    background-image: url(img/log2b.png);
    background-repeat: no-repeat;
    background-size: cover ;
}

.grid .lr3 {
    background-image: url(img/log1b.png);
    background-repeat: no-repeat;
    background-size: cover ;
}

.grid .lr4, .lr5{
    background-color: #acd1dd;
}

.grid .cr1{
    background-image: url(img/redCar.png);
    background-repeat: no-repeat;
    background-size: cover ;
}

.grid .cl1{
    background-image: url(img/whiteCar.png);
    background-repeat: no-repeat;
    background-size: cover ;
}

.grid .cr2, .cr3,  .cl2, .cl3 {
    background-color: #666464;
}
/* 
.grid .car-left, 
.grid .car-right {
    background-color: ;
} */

.frog{
    /* background-color: rgb(12, 109, 12)   */
    background-image: url(img/frog4.png) !important;
    background-repeat: no-repeat;
    background-size: cover ;
}