@charset "utf-8";

body {
	background-color: #104000;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
#orange {
	left: 0px;
	position: absolute;
	top: 43px;
	margin-bottom: 0;
	background-color: #c38427;
	width: 981px;
	padding-top: 0px;
	height: 632px;
}
html > body #orange {
	height: auto;
	min-height: 633px;
}
.Txt_ {
	font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
	font-size: 120%;
	text-align: left;
	color: #5fb83d;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 10px;
	position: absolute;
	top: 684px;
	margin-bottom: 0;
}
#logo {
	left: 0px;
	position: absolute;
	top: 17px;
	height: 207px;
	margin-bottom: 0;
	width: 232px;
}
#enlightenment {
	left: 647px;
	position: absolute;
	top: 96px;
	height: 97px;
	margin-bottom: 0;
	width: 282px;
}
#special {
	left: 451px;
	position: absolute;
	top: 132px;
	height: 132px;
	margin-bottom: 0;
	width: 142px;
}
#trial_r4_c13 {
	left: 593px;
	position: absolute;
	top: 193px;
	height: 250px;
	margin-bottom: 0;
	width: 169px;
}
#trial_r4_c22 {
	left: 762px;
	position: absolute;
	top: 193px;
	height: 112px;
	margin-bottom: 0;
	width: 167px;
}
#woman {
	left: 122px;
	position: absolute;
	top: 238px;
	height: 160px;
	margin-bottom: 0;
	width: 213px;
}
#trial_r7_c11 {
	left: 563px;
	position: absolute;
	top: 264px;
	height: 179px;
	margin-bottom: 0;
	width: 30px;
}
#trial_r9_c3 {
	left: 122px;
	position: absolute;
	top: 398px;
	height: 14px;
	margin-bottom: 0;
	width: 184px;
}
#tea {
	left: 306px;
	position: absolute;
	top: 398px;
	height: 14px;
	margin-bottom: 0;
	width: 257px;
}
#Home {
	left: 39px;
	position: absolute;
	top: 412px;
	height: 188px;
	margin-bottom: 0;
	width: 285px;
}
#trial_r10_c7 {
	left: 324px;
	position: absolute;
	top: 412px;
	height: 78px;
	margin-bottom: 0;
	width: 239px;
}
#kettle {
	left: 563px;
	position: absolute;
	top: 443px;
	height: 194px;
	margin-bottom: 0;
	width: 271px;
}
#trial_r13_c7 {
	left: 324px;
	position: absolute;
	top: 490px;
	height: 151px;
	margin-bottom: 0;
	width: 209px;
}
#trial_r13_c10 {
	left: 533px;
	position: absolute;
	top: 490px;
	height: 85px;
	margin-bottom: 0;
	width: 30px;
}
#trial_r16_c4 {
	left: 224px;
	position: absolute;
	top: 600px;
	height: 41px;
	margin-bottom: 0;
	width: 100px;
}
#subnav1 {
	left: 575px;
	position: absolute;
	top: 689px;
	height: 18px;
	margin-bottom: 0;
	width: 42px;
}
#subnav2 {
	left: 628px;
	position: absolute;
	top: 689px;
	height: 18px;
	margin-bottom: 0;
	width: 28px;
}
#subnav3 {
	left: 669px;
	position: absolute;
	top: 689px;
	height: 18px;
	margin-bottom: 0;
	width: 68px;
}
#subnav4 {
	left: 748px;
	position: absolute;
	top: 689px;
	height: 21px;
	margin-bottom: 0;
	width: 94px;
}
#subnav5 {
	left: 854px;
	position: absolute;
	top: 689px;
	height: 18px;
	margin-bottom: 0;
	width: 44px;
}
#subnav6 {
	left: 909px;
	position: absolute;
	top: 689px;
	height: 19px;
	margin-bottom: 0;
	width: 73px;
}
