*{
    box-sizing: border-box;
}

body {
    /* center */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* remove scroll bar */
    margin: 0;
    background-color: #1E0555;
}

body, .quote-input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-color: #F0DB4F;
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
}

.timer{
    /* move timer above container */
    position: absolute;
    top: 2rem;
    font-size: 3rem;
    color: #F0DB4F;
    font-weight: bold;
}

.quote-display {
    margin-bottom: 1rem;
    /* center text with quote-input text */
    /* margin = 2px border and 1rem padding  */
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
}

.quote-input {
    background-color: transparent;
    border: 2px solid #A1922E;    
    /* removed the blue focus line */
    outline: none;
    width: 100%;
    height: 8rem;
    /* stays centered */
    margin: auto;
    /* remove sizing of box */
    resize: none;
    /* give text padding/centered */
    padding: .5rem 1rem;
    /* make same font size - everything is 1:1 easier for the one typing */
    font-size: 1rem;
    border-radius: .5rem;
}

/* so people can see focus border color change */
.quote-input:focus {
    border-color: black;
}