.wrapper {
  background-color:#fafbfb;
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 957px; /* 2 */

}
h1{
    background-color:#fafbfb;
    
/*    background-image: url(assets/logo.png);
    background-position:left bottom;
    background-repeat: no-repeat;
    text-indent:6em; */
    line-height:150px;
    font-weight:bold;
    font-size:60px;
    margin:0;
    padding-left:10px;
}
h1 a{
  color:#175752;
  text-decoration:none;
}
nav{
    background-color:#175752;
    overflow:hidden;
    padding-left:  10px;
}
nav a {
    color:#c6d5d3;
    display:block;
    text-decoration:none;
    font-weight:bold;
    text-align:center;
    float:left;
    padding: 14px 16px;    
}
nav a:hover {
    background-color:#71acaa;
    color: #175752;
}
h2{
    color:#71acaa;
    font-weight:bold;
}
h3{
    color:#9bb2b0;
}

main{
    background-color:#fafbfb;
    padding: 14px 16px;
}
