body{
	background-color:#FFFFFF;
	background-image:url(assets/images/other/background.jpeg);
	font-family: Arial, Helvetica, sans-serif;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

h1{
	background-image:url(assets/images/other/banner.jpg);
	background-position:right;
	background-repeat:repeat;
	color:white;
	font-family: Georgia, Times New Roman, serif;
	font-weight:bold;
	margin: 0px;
	padding: 10px;
}

h2 {color:red;font-family: Georgia, Times New Roman, serif;test-shadow: 1px 1px 1px #ccc;padding: 10px;}

h3 {
	color: #00CC33;
	font-family: Georgia, "Times New Roman", serif;
	font-weight: bold;
	padding: 10px;
}

p{font-family: Georgia, Times New Roman, serif;padding: 15px;

}


dt {color:#000033:}
.title {
	color: #FE1010;
	font-weight: bolder;
	font-size: 24px;
	font-variant: normal;
	font-style: normal;
}
.notes {
	color: #66FFFF;
	font-weight: bolder;
}
.recomend {
	color: #FF0000;
	font-weight: bolder;
}

#wrapper {
	margin:auto;
	background-color: #FFFFFF;
	width:80%;
	min-width: 700px;
	-webkit-box-shadow: 5px 5px 5px #000033;
	-moz-box-shadow: 5px 5px 5px #000033;
box-shadow: 5px adding-left: 20px;
}

#content img {float: left; padding-right: 20px; padding-left: 20px;ul {list-style-position:inside;}}

#content2 img {float: left; padding-right: 20px; padding-left: 20px;ul {list-style-position:inside;}}
.gallery {
	font-weight: bolder;
	color: #00F;
}
.definition {
	font-weight: bolder;
	color: #360;
	font-size: 16px;
	height: auto;
	padding-left: 25px;
	left: 50px;
}



#address {font-size:90%}

#footer {font-size:75%; font-style:italic ; font-family: Georgia, Times New Roman, serif;}

#menu_bg {
	background-color: #690D34;
	width: 100%;
	height: 31px;
}

div.img
  {
  margin:2px;
  border:1px solid #0000ff;
  height:auto;
  width:auto;
  float:left;
  text-align:center;
  }
div.img img
  {
  display:inline;
  margin:3px;
  border:1px solid #ffffff;
  }
div.img a:hover img
  {
  border:1px solid #0000ff;
  }
div.desc
  {
  text-align:center;
  font-weight:normal;
  width:120px;
  margin:2px;
  }
#content ul table tr td {
	font-weight: bold;
}
