body{
    background-image: url(/img/2c.jpg);
    text-align: center;
    color: rgb(41, 135, 151);
    text-shadow: 1px 1px 0 white;  
}

h1 {
    color: rosybrown;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 606px;
    height: 606px;
    margin: auto;
}

.square {
    width: 200px;
    height: 200px;
    border: rgb(15, 70, 70) solid 1px;
    background-image: url('square.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.mole {
    background-image: url('combo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* rgb(56, 158, 124) */
