#green{
    background-color: rgb(28, 74, 28);
}

#red{
    background-color: rgb(87, 22, 22);
}

#blue{
    background-color: rgb(20, 20, 77);
}

#random{
    background-color: rgb(165, 128, 80);
}
button{
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin: 5px;
    color: white;
}