body{
    width:80%;
    min-width:750px;
}
h1{
    background-color:#d1ecff;
    height:120px;
    line-height:250%;
    border-bottom: 3px ridge #330000;
    padding-left: 60px;
}
#box {
    background-color:#74C0FF;
    border: 1px solid #000000;
    margin-left:60px;
    padding:5px 10px;
}