body{
    background-image: url(/img/2c.jpg);
    text-align: center;
    color: rgb(41, 135, 151);
    text-shadow: 1px 1px 0 white;  
    display: grid;
    place-items: center;
    height: 90vh;
}

h1{
    color: rosybrown;
}

.grid {
    width: 300px;
    height: 300px;
    border: solid black 1px;
    display: flex;
    flex-wrap: wrap;
    /* background-image: url(img/space.jpg); */
}

.grid div {
    width: 20px;
    height: 20px;
}

.instruct h2 {
    margin-top: 1em;
    line-height: 1.3em;
    text-align: center;
}

.invader {
    /* background-color: purple; */
    background-image: url(img/ufo2b.png);
    border-radius: 10px;
}

.shooter {
    background-color: rgb(10, 31, 222);
}

.laser {
    background-color: rgb(97, 206, 14);
}

.boom {
    background-color: rgb(86, 22, 22);
}