body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
}

#game-board {
    background-color: #CCC;
    /* vmin will give us the largest square shape possible - scales perfectly */
    width: 100vmin;
    height: 100vmin;
    /* use css grid pattern */
    display: grid;
    /* 21 even squares */
    grid-template-rows: repeat(21,1fr);
    grid-template-columns: repeat(21,1fr);
}

.snake {
    background-color: hsl(126, 70%, 43%);
    border: .25vmin solid black;
    border-radius: 5px;
}

.food {
    background-color: hsl(50, 96%, 46%);
    border: .25vmin solid black;
    border-radius: 5px;
}