/* font source: https://cdnjs.com/libraries/font-awesome */
/* 1280 x 720 px dimensions for photos */
/* https://www.pexels.com recommended for free photos */

body{
    background-image: url(img/s.png);
    background-color: hsla(178, 50%, 61%, 0.8)   
    /* linear-gradient(to top left, rgb(213, 222, 17), rgb(26, 187, 156)) ; */
}

/* layout for the cards */
#my-cards{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
    display: flex;
    /* nice space around each card */
    justify-content: space-around;
    /* wrap to next row */
    flex-wrap: wrap; 
    /* align at the very beginning */
    align-items: flex-start;

    
}

#my-cards .card{
    position: relative;
    width: 380px;
    height: 500px;
    margin: 20px;
    cursor: pointer;
    transition: 1s ease;
    background-color: hsla(178, 50%, 91%, 1);
    box-shadow: 2px 2px 6px 0px hsla(42, 50%, 55%, 1);
    color: hsla(160, 30%, 44%, 1) ;
}

#my-cards .card h4{
    font-size: 30px;
    color: hsla(25, 32%, 39%, 1);
    padding-left: 10px;
    margin-top: -10px;
    border-bottom: 1px hsla(160, 30%, 44%, 1) solid;
}

#my-cards .card:hover{
    transform: scale(1.1);
}

#my-cards .card:hover .image{
    /* how bright do you want the image */
    -webkit-filter: brightness(50%);
    /* this is the animation - takes 1 sec
        we must set for ALL browsers*/
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#my-cards .middle{
    position: absolute;
    top: 26%;
    left: 50%;
    opacity: 0;
    transition: .5s ease;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-filter: brightness(100%);
}

#my-cards .card:hover .middle{
    opacity: 1;
}

@media(max-width:768px){
    #my-cards .card{
        width: 95%;
        height: 95%;
    }

    #my-cards .card:hover{
        transform: scale(1);
    }
}

.image{
    width: 100%; /* of 380 px*/
    /* height: 300px */

}

/* he had this inline code for card name and descc */
.desc{
    padding: 20px;
}

/* added his inline code to this class */
.article{
    color: hsla(178, 50%, 91%, 1);
    text-shadow: 2px 2px 6px hsla(42, 50%, 55%, 1) ;
    font-size: 20px;
    text-align: center;
    background-color: hsla(160, 30%, 44%, 1);
    box-shadow: 2px 2px 6px hsla(42, 50%, 55%, 1) ;
    padding: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    
}

.tags{
   color: hsla(178, 50%, 91%, 1);
    padding: 8px 10px;
    position: absolute;
    margin-top: -38px;
    font-size: 1rem;
    font-weight: 500;
    margin: px 0 8px;
    background: hsla(160, 30%, 44%, 1);
    /* instead of coloring whole line, just fits content */
    width: fit-content;
    /* round corners */
    border-radius: 50px;
}

h4{
    color: hsla(25, 32%, 39%, 1);
    padding-left: 10px;
    margin-top: -10px;
    border-bottom: 1px hsla(160, 30%, 44%, 1) solid;
}